<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="~/Content/Images/favicons.png" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kentucky HBPA | @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="height: 50px;">
        <div>
            <div class="navbar-header">
                <a style="padding-left:60px; padding-right:50px;" href="~/Home/Index"> <img src="" style="height:50px; " /></a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="navbar-collapse collapse" style="font-size:20px;">
                <ul class="nav navbar-nav">
                    <li><a href="~/Home"><img src="~/Content/Images/61689-home-button.png" style="height:45px; padding-bottom:14px;"/></a></li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @*<li>@Html.ActionLink("User Management", "Index", "UserManagement")</li>*@
                    @*<li>@Html.ActionLink("About Us", "About", "Home") </li>*@

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Donate<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Donate", "Donate", "Home")</li>
                            <li>@Html.ActionLink("Photo Gallery", "Index", "Photo Gallery")</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Member<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Documents", "Documents", "Home")</li>
                            <li>@Html.ActionLink("User Management", "Index", "UserManagement")</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("About Us", "About", "Home")</li>
                            <li>@Html.ActionLink("History", "History", "Home")</li>
                            <li>@Html.ActionLink("Racing Info","Raceinfo","Home")</li>
                            <li>@Html.ActionLink("Benevolence", "Benevolence", "Home")</li>
                            <li>@Html.ActionLink("Board of Directors", "BoardOfDirectors", "Home")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Events<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Events","Index","Events")</li>
                            <li>@Html.ActionLink("Local News", "Localnews", "Home")</li>
                            @*<li> <a href="Localnews">Local News</a></li>*@
                            <li>@Html.ActionLink("National News", "News", "Home")</li>
                            </ul>
                </ul>
                <div style="padding-right:25px;">@Html.Partial("_LoginPartial")</div>
            </div>
    
            
          
        </div>

                
        </div>


    <div style="text-align:center">
        @RenderBody()
        <hr />
    </div>

    <footer style="text-align: center;">
        <div>
            <a target="_blank" href="https://goo.gl/maps/xBqGKXK2fju">
                Kentucky HBPA |
                3729 S. Fourth St. |
                Louisville, KY 40214-1712
            </a>
            <br />
            Email
            <a href="mailto:Kentuckyhbpa@gmail.com">Kentuckyhbpa@gmail.com</a> |
            Phone
            <a href="tel:+15023631077">502-363-1077</a> |
            Toll-Free
            <a href="tel:+18009284272">800-928-4272</a> |
            Fax
            <a href="tel:+15023676800">502-367-6800</a>
        </div>
        <p>This office is open year-round, Monday - Friday from 8:30am to 4:00pm</p>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_donations">
            <input type="hidden" name="business" value="kentuckyhbpa@gmail.com">
            <input type="hidden" name="lc" value="US">
            <input type="hidden" name="item_name" value="KY HBPA">
            <input type="hidden" name="no_note" value="0">
            <input type="hidden" name="currency_code" value="USD">
            <input type="hidden" name="bn" value="PP-DonationsBF:btn_donate_LG.gif:NonHostedGuest">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>

        @*<a href="https://www.facebook.com/KYhbpa/" class="btn btn-social-icon btn-facebook" target="_blank">
            <span class="fa fa-facebook-o">
            </span>
        </a>

        <a href="https://twitter.com/kyhbpa" class="btn btn-social-icon btn-twitter" target="_blank">
            <i class="fa fa-twitter"></i>
        </a>*@

        <p>&copy; @DateTime.Now.Year - KHBPA</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <!--CTRL+K+D atuto styles indentation and code styling-->
</body>
</html>
